<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell2.androidexamfinal">
    <!--权限声明-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    //地图包、搜索包需要的基础权限
    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!---->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--activity注册-->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WY_activity" />
        <activity android:name=".ZQ_activity" />
        <activity android:name=".ZQ_test1_activity" />
        <activity android:name=".ZQ_test2_activity" />
        <activity android:name=".ZQ_test3_activity" />
        <activity android:name=".ZQ_test4_activity" />
        <activity android:name=".WY_test1_activity" />
        <activity android:name=".WY_test2_activity" />
        <activity android:name=".WY_test3_activity" />
        <activity android:name=".WY_test4_activity" />
        <activity android:name=".model_activity" />
        <activity android:name=".model_test1_activity" />
        <activity android:name=".Model_test2_activity"/>
        <activity android:name=".Model_test3_activity"/>
        <activity android:name=".Model_test5_activity"/>
        <activity android:name=".model_test6_activity" />
        <activity android:name=".Model_test7_activity" />
        <activity android:name=".Model_test8_activity" />
        <activity android:name=".model_test1_activity2" />
        <activity android:name=".Model_test4_activity" />
        <activity android:name=".Test4"/>
        <!--广播接收器的注册-->
        <!--action android:name="com.example.broadcast.Test5" 确定对什么广播起作用-->
        <receiver android:name="broadcast.Test5_BroadcastReceiver">
            <intent-filter>
                <action android:name="com.example.broadcast.Test5" />
            </intent-filter>
        </receiver>
        <service android:name="service.MyService"
            android:exported="true"
            android:enabled="true">
        </service>
        <service android:name="service.MyService2"
            android:exported="true"
            android:enabled="true">
        </service>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="90c3cb6d9c270799fa00fe4616c2ffe7">
            <!--//开发者的key。华：68aa2e558afefe286636958b2090b2e7-->
        </meta-data>
    </application>

</manifest>